.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid 3px #41403E;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 12px 24px;
}
